.title {
    padding: 10rem 0 4rem;
}
.title h1 {
    font-size: 2.4rem;
    text-align: center;
}
.title hr {
    border: none;
    border-bottom: 1px solid black;
    margin: 2rem 8rem;
}
.c-contact {
    padding: 0 8rem 4rem;
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-around;
    align-items: center;
    gap: 4rem;
}
.c-contact__contact-info {
    width: calc(50% - 2rem);
    background: url(../../public/icon/scale-balanced-solid.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.c-contact__contact-info svg {
    width: 10rem;
    height: 10rem;
}
.c-contact__container {
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 1rem 0;
    height: 10rem;
    font-size: 1.8rem;
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
}
.c-contact__container p {
    width: 27rem;
    letter-spacing: 0.1rem;
}
.c-contact__container a {
    width: 27rem;
    letter-spacing: 0.1rem;

    text-decoration: none;
    color: black;
}
.c-contact__contact-info svg {
    width: 4rem;
    height: 4rem;
    color: var(--yellow);
}

.c-contact__contact-schedule {
    font-size: 1.6rem;
    border-bottom: none;
}
.c-contact__contact-schedule-text {
    display: flex;
    flex-flow: column;
    gap: 1rem;
    text-align: center;
}

.c-contact__map {
    margin: 4rem auto;
    height: 30rem;
    width: 100vw;
    overflow: hidden;
}
.c-contact__link-button {
    width: fit-content;
    margin: 0 auto;
}
.c-contact__link-button button {
    margin: 2rem auto 0;
    padding: 1rem 2rem;
    font-size: 1.8rem;
    font-family: raleway;
    color: white;
    background-color: var(--yellow);
    border: none;
}
.c-contact__link-button button:hover {
    background-color: rgb(160, 89, 23);
    cursor: pointer;
}
.c-contact__link-button button:active {
    background-color: var(--yellow);
}
@media screen and (max-width: 65.5rem) {
    .c-contact {
        gap: 8rem;
    }
    .c-contact__contact-info {
        width: 100%;
    }
}
@media screen and (max-width: 57rem) {
    .title hr {
    margin: 2rem 4rem;
    }
    .c-contact {
        padding: 0 4rem 0;
        gap: 6rem;
    }
}
@media screen and (max-width: 400px) {
    .c-contact__contact-schedule-text p {
        width: auto;
    }
}