.c-pricing {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    gap: 5rem;
    padding: 4rem 8rem;
    font-feature-settings: 'pnum' on, 'lnum' on;
}
.c-pricing h2 {
    text-align: center;
    font-family: raleway;
    font-size: 2.4rem;
    font-weight: bold;
    padding-top: 6rem;
}
.c-pricing__card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8rem;
}
.c-pricing__card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 22rem;
    height: 25rem;
    padding: 0 4rem;
    font-size: 2rem;
    text-align: center;
    border-radius: 20px;
    color: white;
    background-blend-mode: multiply;
}
.c-pricing__card svg {
    height: 6rem;
    width: 6rem;
}
.c-pricing__card-pen {
    background: url(../../public/img/fees_pen.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(58, 58, 60, 0.3);
}
.c-pricing__card-phone {
    background: url(../../public/img/fees_phone.jpg);
    background-size: cover;
    background-color: rgba(58, 58, 60, 0.1);

}
.c-pricing__card-desk {
    background: url(../../public/img/fees_desk.jpg);
    background-size: cover;
    background-color: rgba(58, 58, 60, 0.2);
}
.c-pricing__text {
    max-width: fit-content;
    margin: 0 auto;
}
.c-pricing__description {
    font-size: 1.8rem;
    text-align: justify;
    max-width: 90rem;
    margin: 3rem 0;
}
.c-pricing__description a {
    color: black;
}
.c-pricing__description-bullet {
    list-style: inside;
    margin-left: 1.2rem;
}
.c-pricing__button-wrapper {
    width: fit-content;
    margin: 0 auto;
}
.c-pricing__contact-button {
    margin: 2rem auto;
    padding: 1rem 2rem;
    font-size: 1.8rem;
    font-family: raleway;
    color: white;
    background-color: var(--green);
    border: none;
}
.c-pricing__contact-button:hover {
    background-color: rgb(68, 97, 84);
    cursor: pointer;
}
.c-pricing__contact-button:active {
    background-color: var(--green);
}
.c-pricing__description-bullet {
    font-size: 1.6rem;
}
.c-pricing__description-bullet {
    padding: 0 2rem;
}
.c-pricing__description-bullet li {
    margin-bottom: 1rem;
}
.link {
    text-decoration: none;
    color: inherit;
}

@media screen and (max-width: 64rem) {
    .c-bio {
        padding: 4rem 4rem;
    }
    .c-pricing {
        padding: 4rem 2rem;
    }
}