.title {
    padding: 10rem 8rem 0;
}
.title h1 {
    font-size: 2.4rem;
    text-align: center;
}
.title hr {
    border: none;
    border-bottom: 1px solid black;
    margin-top: 2rem;
}
.c-legal {
    padding: 0rem 8rem;
    font-variant-numeric: lining-nums;
}
.c-legal h2 {
    font-size: 2.4rem;
    margin-bottom: 1rem;
}
.c-legal h3 {
    font-size: 1.6rem;
    margin-top: 1rem;
}
.c-legal p {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
}
.c-legal ul {
    font-size: 1.6rem;
    list-style-position: inside;
}
.c-legal li {
    margin-bottom: 0.5rem;
}
@media screen and (max-width: 1000px) {
    .c-legal {
        padding: 0 4rem;
    }
}
@media screen and (max-width: 600px) {
    .c-legal {
        padding: 0 2rem;
    }
}
.c-legal__lawyer {
    padding: 4rem 0 0;
}
.c-legal__developer {
    padding: 4rem 0;
}
.c-legal__cnil {
    padding: 4rem 0;
}
.c-legal__hosting {
    padding: 4rem 0;
}