.title {
    padding: 10rem 8rem 0;
    background-color: var(--grey);
}
.title h1 {
    font-size: 2.4rem;
    text-align: center;
    color: white;
}
.title hr {
    border: none;
    border-bottom: 1px solid white;
    margin-top: 2rem;
}
.c-legal {
    padding: 4rem 8rem;
    color: white;
    background-color: var(--grey);
}

@media screen and (max-width: 45rem) {
    .title {
        padding: 10rem 4rem 0;
    }
    .c-legal {
        padding: 4rem;
    }
}