.c-menu__blur {
    cursor: pointer;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(100%);
    backdrop-filter: blur(0px);
    transition: 0s;
    z-index: 8;
}
.c-menu__blur--is-active {
    transform: translateX(0%);
    backdrop-filter: blur(2px);
    transition: transform 0s;
    transition: backdrop-filter 0.5s;
}
.c-menu {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: 0.5s;
    z-index: 9;
    background-color: var(--grey);
}
.c-menu--is-active {
    transform: translateX(0%);
}

.c-menu__container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    font-size: 1.8rem;
    width: 100%;
    padding: 8rem 0;
    background-color: var(--grey);
    border-left: 1px solid rgb(102, 102, 105);
}
.c-menu__sections {
    list-style: none;
    width: 100%;
    text-align: center;
    border-bottom: solid white 1px;
}
.c-menu__sections-link a {
    display: block;
    padding: 2rem;
    width: 100%;
    text-decoration: none;
    color: white;
    border-top: solid white 1px;
}
.c-menu__sections-link:hover {
    background-color: rgb(79, 79, 82);
}
.c-menu__sections-link:active {
    background-color: rgb(100, 100, 104);
}
.c-menu__logo {
    height: 10rem;
    color: white;
}
@media screen and (max-height: 650px) {
    .c-menu__logo {
        height: 5rem;
    }
}
@media screen and (max-height: 600px) {
    .c-menu__logo {
        display: none;
    }
}