.c-contact__form {
    display: flex;
    flex-flow: row wrap;
    gap: 2rem 2rem;
    width: calc(50% - 2rem);
}
.c-contact__input-container {
    width: calc(50% - 1rem);
}
.c-contact__form h2 {
    font-size: 2rem;
    width: 100%;
}
.c-contact__form label {
    display: inline-block;
    font-size: 1.6rem;
    margin-bottom: 1rem;
}
.c-contact__form input {
    padding: 1rem;
    font-size: 1.6rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
}
.c-contact__form input:hover {
    border: solid 1px var(--grey);
}
.c-contact__form input:focus {
    border: solid 1px var(--grey);
    outline: none;
}
.c-contact__form-message {
    width: 100%;
}
.c-contact__form-message textarea {
    padding: 1rem;
    font-family: Raleway;
    font-size: 1.6rem;
    font-weight: 500;
    width: 100%;
    min-height: 15rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    resize: vertical;
}
.c-contact__form-message textarea:hover {
    border: solid 1px var(--grey);
}
.c-contact__form-message textarea:focus {
    outline: none;
    border: solid 1px var(--grey);
}
.c-contact__form-submit {
    padding: 1rem 2rem;
    margin: 2rem auto 0;
    font-size: 1.6rem;
    border: none;
    color: white;
    background-color: var(--green);
}
.c-contact__form-validation-message {
    width: 53rem;
    padding: 2rem 1rem;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.3rem;
    line-height: 3rem;
    color: black;
}
@media screen and (max-width: 65.5rem) {
    .c-contact__form {
        width: 100%;
    }
    .c-contact__form h2 {
    text-align: center;
    }
}
@media screen and (max-width: 31.5rem) {
    .c-contact__input-container {
        width: 100%;
    }
}