.c-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    height: 6rem;
    width: 100%;
    padding: 0 2rem;
    transition: background-color 0.3s ease;
    position: fixed;
    top:0;
    z-index: 9;
}

.c-nav--light-theme {
    color: black;
    fill: black;
    border-color: white;
    background-color: white;
}
.c-nav--dark-theme {
    color: white;
    fill: white;
    border-color: var(--grey);
    background-color: var(--grey);
}
.c-nav--hero-theme {
    color: black;
    fill: white;
    border-color: transparent;
    background-color: transparent;
}
.c-nav--hero-theme span {
    color: white;
}

.c-nav__logo {
    display: flex;
    align-items: center;
    gap: 3rem;
    text-decoration: none;
    color: inherit;
}
.c-nav__logo-image {
    height: 4rem;
    fill: inherit;
}
.c-nav__logo-text {
    height: 5rem;
}
.c-nav span {
    font-size: 2rem;
    letter-spacing: 0.1rem;
    font-family: 'Playfair display';
    font-weight: 500;
}
.c-nav__menu {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 1.5rem;
    border-color: inherit;
}
.c-nav__menu-item {
    width: max-content;
    list-style: none;
    border-color: inherit;
}
.c-nav__menu-link {
    text-decoration: none;
    padding: 0.75rem 1rem;
    color: inherit;
    border: 1px solid;
    border-color: inherit;
}
.c-nav__menu-link:hover {
    border: 1px solid;
}
.c-nav__menu-link--is-current {
    border: 1px solid;
}
.c-nav__hamburger-menu {
    display: none;
    z-index: 100;
    width: 3rem;
}
.c-nav__hamburger-menu--hero-theme {
    color: black;
}
@media screen and (max-width: 45rem) {
    .c-nav__hamburger-menu--hero-theme {
        color: white;
    }
}
.c-nav__hamburger-menu--light-theme {
    color: black;
    transition: 0.5s;
}
.c-nav__hamburger-menu--dark-theme {
    color: white;
    transition: 0.5s;
}
.c-nav__hamburger-menu--forced-dark-theme {
    color: white;
}
.c-nav__hamburger-menu--is-active {
    display: initial;
    height: 5rem;
}

@media screen and (max-width: 72.5rem) {
    .c-nav__menu--hero-theme {
        display: none;
    }
    .c-nav__hamburger-menu--hero-theme {
        display: initial;
        height: 5rem;
    }
    .c-nav__hamburger-menu:hover {
        cursor: pointer;
    }
}
@media screen and (max-width: 65.5rem) {
    .c-nav__menu {
        display: none;
    }
    .c-nav__hamburger-menu {
        display: initial;
        height: 5rem;
    }
}

/* This needs to be kept at the bottom of the style sheet.
It fixes a small bug where user would open the menu, then resize the window
to a specific width, wich in turn cause both navmenu and ham-menu to be displayed
at the same time, breaking the design */
.c-nav__menu--menu-is-active {
    display: none;
}