.c-hero {
    display: flex;
    justify-content: flex-end;
    font-size: 1.8rem;
    padding: 8rem;
    height: 100vh;
    background: url("../public/img/hero.jpg") no-repeat center / cover;
}
.c-hero__content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: calc(50vw - 16rem);
}
.c-hero__content h1 {
    font-size: 6rem;
    font-weight: 500;
    text-align: center;
}
.c-hero__content hr {
    margin: 1.5rem auto 2rem;
    width: 25%;
    border: 0;
    border-top: 1px solid black;
}
.c-hero__content h2 {
    margin-bottom: 3.5rem;
    font-size: 2.5rem;
    font-weight: 400;
    text-align: center;
}
.c-hero__content > a {
    width: max-content;
    text-decoration: none;
    text-align: center;
    padding: 0.75rem 1.5rem;
    color: black;
    border: 1px solid black;
}
.c-hero__logo > svg {
    margin-bottom: 2rem;
    height: 15rem;
    width: 15rem;
}
.c-hero__scroll-arrow {
    position: absolute;
    top: calc(100% - 8rem);
    left: calc(50% - 2rem);
    animation: arrow-bounce 3s ease-in-out 3s infinite;
}
@keyframes arrow-bounce {
    12.5% {
        transform: translateY(-50%);
    }
    25% {
        transform: translateY(0%);
    }
    37.5% {
        transform: translateY(-25%);
    }
    50% {
        transform: translateY(0%);
    }
}
.c-hero__scroll-arrow:hover {
    cursor: pointer;
}
@media screen and (max-width: 45rem) {
    .c-hero {
        align-items: flex-end;
        justify-content: center;
        padding: 0;
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), transparent 40%), url("../public/img/hero-mobile.jpg");
    }
    .c-hero__content {
        align-items: center;
        justify-content: space-around;
        gap: 2rem;
        width: 100%;
        padding: 2rem 3rem 10rem;
    }
    .c-hero__title {
        width: max-content;
    }
    .c-hero__title h1 {
        font-size: 3rem;
        color: white;
        padding: 0 2rem;
    }
    .c-hero__title hr {
        border-color: white;
    }
    .c-hero__title h2 {
        font-size: 1.6rem;
        color: white;
        margin-bottom: 1rem;
    }
    .c-hero__content a {
        order: 3;
        font-size: 2rem;
        color: white;
        border-color: white;
        background-color: rgb(0, 0, 0);
        white-space: nowrap;
    }
    .c-hero__logo {
        display: none;
        order: 1;
        color: white;
    }
    .c-hero__logo > svg {
        height: 7.5rem;
        width: 7.5rem;
    }
    .c-hero__scroll-arrow {
        top: calc(100% - 6rem);
        left: calc(50% - 1.5rem);
        color: white;
        width: 3rem;
    }
    .c-hero__scroll-arrow svg {
        height: 100%;
        width: 100%;
    }
}


.skill {
    background: url("../public/icon/scale-balanced-solid.svg");
    background-repeat: no-repeat;
    background-size: 80vh 50vw;
    background-position: calc(150% - 4rem) calc(100% - 4rem);
    position: relative;
}
@media screen and (max-width: 45rem) {
    .skill {
        background-size: 75vw;
        background-position: 200% 50%;
    }
}
.skill > h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
    margin: 0 0 3rem;
}
.skill > hr {
    border: none;
    border-top: 1px solid black;
}
.c-skillcard__container {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: center;
    gap: 1.5rem;
    margin: 0 auto;
    padding: 6rem 0;
    max-width: 96rem;
    height: 100%;
}


.c-intersection {
    height: 50rem;
    margin: 6rem 0;
    background: linear-gradient(to bottom, lightblue 50%, var(--grey) 50%);
    position: relative;
}
.c-intersection__contact-info {
    display: flex;
    flex-flow: column;
    gap: 2rem;
    padding: 4rem;
    width: 30rem;
    height: 15rem;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.05em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    text-align: center;
    background-color: var(--yellow);
    top: -7.5rem;
    right: 4rem;
    position: absolute;
}

.sectionsb {
    height: 25rem;
    background-color: lightsalmon;
}