.c-hero {
    display: flex;
    justify-content: flex-end;
    font-size: 1.8rem;
    padding: 8rem;
    height: 100vh;
    position: relative;
    background: url("../public/img/hero.jpg") no-repeat center / cover;
}
.c-hero__content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: calc(50vw - 16rem);
}
.c-hero__content h1 {
    font-size: 6rem;
    font-weight: 500;
    text-align: center;
}
.c-hero__content hr {
    margin: 1.5rem auto 2rem;
    width: 25%;
    border: 0;
    border-top: 1px solid black;
}
.c-hero__content h2 {
    margin-bottom: 3.5rem;
    font-size: 2.5rem;
    font-weight: 400;
    text-align: center;
}
.c-hero__content > a {
    width: max-content;
    text-decoration: none;
    text-align: center;
    padding: 0.75rem 1.5rem;
    color: black;
    border: 1px solid black;
}
.c-hero__logo > svg {
    margin-bottom: 2rem;
    height: 15rem;
    width: 15rem;
}
.c-hero__scroll-arrow {
    position: absolute;
    top: calc(100% - 8rem);
    left: calc(50% - 2rem);
    animation: arrow-bounce 3s ease-in-out 3s infinite;
}
@keyframes arrow-bounce {
    12.5% {
        transform: translateY(-50%);
    }
    25% {
        transform: translateY(0%);
    }
    37.5% {
        transform: translateY(-25%);
    }
    50% {
        transform: translateY(0%);
    }
}
.c-hero__scroll-arrow:hover {
    cursor: pointer;
}
@media screen and (max-width: 45rem) {
    .c-hero {
        align-items: flex-end;
        justify-content: center;
        padding: 0;
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), transparent 40%), url("../public/img/hero-mobile.jpg");
    }
    .c-hero__content {
        align-items: center;
        justify-content: space-around;
        gap: 1rem;
        width: 100%;
        padding: 2rem 3rem 10rem;
    }
    .c-hero__title {
        width: max-content;
    }
    .c-hero__title h1 {
        font-size: 3rem;
        color: white;
        padding: 0 2rem;
    }
    .c-hero__title hr {
        border-color: white;
    }
    .c-hero__title h2 {
        font-size: 1.6rem;
        color: white;
        margin-bottom: 1rem;
    }
    .c-hero__content a {
        order: 3;
        font-size: 2rem;
        color: white;
        border-color: white;
        background-color: rgb(0, 0, 0);
        white-space: nowrap;
    }
    .c-hero__logo {
        visibility: hidden;
        height: 0;
        order: 1;
        color: white;
    }
    .c-hero__scroll-arrow {
        top: calc(100% - 6rem);
        left: calc(50% - 1.5rem);
        color: white;
        width: 3rem;
    }
    .c-hero__scroll-arrow svg {
        height: 100%;
        width: 100%;
    }
}


.skill {
    background: url("../public/icon/scale-balanced-solid.svg");
    background-repeat: no-repeat;
    background-size: 80vh 50vw;
    background-position: calc(150% - 4rem) calc(100% - 4rem);
    position: relative;
}
@media screen and (max-width: 45rem) {
    .skill {
        background-size: 75vw;
        background-position: 200% 50%;
    }
}
.skill > h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
    margin: 0 0 3rem;
}
.skill > hr {
    border: none;
    border-top: 1px solid black;
}
.c-skillcard__container {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: center;
    gap: 1.5rem;
    margin: 0 auto;
    padding: 6rem 0;
    max-width: 96rem;
    height: 100%;
}


.c-intersection {
    height: 45rem;
    padding: 7.5rem 8rem;
    background: linear-gradient(to bottom, white 50%, var(--grey) 50%);
    position: relative;
}
.c-intersection__label {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    padding: 3rem 3.5rem;
    width: 30rem;
    height: 15rem;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.05em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    text-align: center;
    position: absolute;
}
.c-intersection__contact {
    background-color: var(--yellow);
    top: 0;
    right: 8rem;
}
.c-intersection__contact-info {
    display: flex;
    gap: 1rem;
}
.c-intersection__schedule {
    color: white;
    background-color: var(--green);
    bottom: 0;
    font-weight: 400;
    left: 8rem;
}
.c-intersection__image {
    height: 100%;
    width: 100%;
    background-image: url(../public/img/intersection.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.c-intersection__anchor {
    position: absolute;
    top: 50%;
}
@media screen and (max-width: 45rem) {
    .c-intersection {
        height: 0;
        padding: 0rem 8rem;
    }
    .c-intersection__label {
        display: none;
    }
}


.c-bio {
    padding: 3rem 8rem;
    background-color: var(--grey);
    color: white;
}
.c-bio > h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 3rem;
}
.c-bio hr {
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    margin-bottom: 6rem;
}
.c-bio__content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: max-content;
    grid-template-areas:    "a b"
                            "a c";
    gap: 3rem;
}
.c-bio__content-img {
    grid-area: a;
    max-width: 35rem;
    align-self: center;
    justify-self: center;
}
.c-bio__content-img hr {
    border: none;
    border-top: 1px solid white;
    margin: 2rem 0 0;
}
.c-bio__content-title {
    text-align: justify;
    margin-top: 0.5rem;
    align-self: center;
    font-size: 1.6rem;
    font-weight: bold;
}
.c-bio__content-description {
    grid-area: b;
    font-size: 1.6rem;
    font-weight: 400;
    column-count: 2;
    column-fill: auto;
    column-gap: 3rem;
    letter-spacing: 0.05rem;
    line-height: 2.3rem;
    text-align: justify;
}
.c-bio__link {
    grid-area: c;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
}
.c-bio__link a {
    height: 4rem;
    width: 15rem;
    padding: 1rem;
    font-size: 1.8rem;
    font-weight: 400;
    font-family: raleway;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: var(--green);
    border: none;
}
.c-bio__link a:hover {
    cursor: pointer;
}
.c-bio__link a:active {
    background-color: rgb(92, 117, 106);
}
@media screen and (min-width: 103rem) {
    .c-bio__content {
        margin: 0 auto;
        grid-template-areas:
            "a b"
            "a c";
        grid-template-columns: auto 0.75fr;
        column-gap: 4rem;
        row-gap: 0;
    }
    .c-bio__content-description {
        justify-self: center;
        column-count: 1;
    }
    .c-bio__content-img {
        justify-self: end;
        align-self: start;
    }
    .c-bio__link {
        align-items: start;
    }
}
@media screen and (max-width: 63rem) {
    .c-bio__content {
        grid-template-columns: 1fr 2fr;
    }
    .c-bio__content-description {
        column-count: 1;
    }
    .c-bio__link {
        align-items: center;
        gap: 3rem;
    }
}
@media screen and (max-width: 50rem) {
    .c-bio__content {
        grid-template-areas:
            "a"
            "b"
            "c";
        grid-template-columns: 1fr;
    }
    .c-bio__content-img {
        justify-self: center;
    }
}
@media screen and (max-width: 32rem) {
    .c-bio__link {
        flex-direction: column;
    }
}