.sectionsb {
    height: 25rem;
    background-color: var(--grey);
}

.skill {
    padding: 4rem 8rem;
    height: calc(100vh - 8rem);
}


.skill > h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
}
.skill > hr {
    margin: 3rem auto;
}


.skill__item-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 3rem;
    margin: 0 auto;
    max-width: 96rem;
}

.skill__item {
    padding: 1.5rem;
    width: 30rem;
    border: 1px solid black;
}
.skill__item:hover {
    cursor: pointer;
}
.skill__icon {
    margin: 1.5rem auto 0;
    height: fit-content;
    width: fit-content;
}
.skill__item h4 {
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
}